In [1]:
import numpy as np
import pandas as pd

## 1. Load Data

prototype:
- event_df (N, d): df with col 'date' and 'stock_id', each row represent an event (a sample for ML task)
- signal_df (T, S): df with idx: date and stock_id, time series for each asset

In [11]:
close_df = pd.read_csv('data/public/close.csv', index_col='date', parse_dates=['date'])
event_df = pd.read_csv('data/public/toydata.csv', 
            parse_dates=['date'], dtype={'stock_id':close_df.columns.dtype}).drop(columns='contract_name')
event_df

,date,stock_id,contract_buy_top5_volume,contract_sell_top5_volume,contract_total_volume,ii_fii_volume,ii_trust_volume,ii_dealer_volume,revenue
0,2021-05-10,1102,1032,1386,1502,1951547,-47000,720000,7840099
1,2021-05-10,1210,107,197,225,78847,0,171526,9053195
2,2021-05-10,1303,2426,3917,4061,4224839,18218,-74076,34904534
3,2021-05-10,1319,48,82,88,159622,0,-288000,1463614
4,2021-05-10,1326,504,763,824,2732343,-2354147,-136885,33047596
...,...,...,...,...,...,...,...,...,...
206447,2025-05-08,8086,323,465,502,84000,-10000,20181,291995
206448,2025-05-08,8112,83,96,119,31000,-65000,1307,18276897
206449,2025-05-08,8358,237,306,314,253940,0,2311,602680
206450,2025-05-08,8436,51,75,90,-211000,-259804,1659,609641
206451,2025-05-08,9914,138,301,321,79722,-1000,29077,2894434

In [12]:
close_df

,1101,1102,1210,1216,1301,1303,1312,1314,1319,1326,...,8299,8358,8436,8454,9904,9914,9938,9939,9945,9958
date,,,,,,,,,,,,,,,,,,,,,
2021-05-10,41.987507,39.651203,48.36136,67.00047,89.73001,74.293550,25.296234,14.450996,32.705585,80.391110,...,445.14432,59.243233,190.48888,523.34546,30.428713,283.72745,88.602350,63.012596,25.899387,112.785390
2021-05-11,40.955677,39.028000,47.32219,66.55499,86.76723,71.705795,24.508461,13.634827,31.553354,78.197040,...,400.79263,58.081600,196.78256,505.90060,29.255035,265.88297,86.810590,60.776936,25.519909,106.800865
2021-05-12,39.368248,37.820545,44.28462,64.68397,81.01096,67.448530,22.495268,12.482588,29.603432,73.370056,...,366.61337,54.513725,189.23013,508.46600,26.820738,257.85294,78.478920,57.796050,23.812258,97.133545
2021-05-13,39.050762,37.353146,45.08398,64.77306,79.82585,65.945960,21.882555,11.954478,29.071630,71.527030,...,363.76510,56.505096,190.48888,559.26130,26.690329,276.58966,80.539444,57.299232,23.646236,97.593890
2021-05-14,39.368248,38.171097,45.08398,66.10951,80.84166,67.114624,23.370570,12.098509,28.938683,72.755714,...,366.20648,61.234604,197.20213,551.56506,27.385841,283.72745,80.629030,57.464840,24.191736,97.593890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-05-02,29.950000,44.850000,59.70000,78.10000,34.80000,30.850000,11.750000,7.400000,132.500000,25.000000,...,454.50000,49.050000,148.50000,329.00000,32.600000,133.50000,57.900000,155.500000,32.900000,175.500000
2025-05-05,30.600000,45.550000,62.80000,80.80000,36.10000,31.600000,11.850000,7.610000,121.000000,26.200000,...,437.00000,45.700000,139.50000,318.50000,31.300000,130.00000,54.900000,154.000000,31.050000,176.000000
2025-05-06,30.550000,45.650000,61.80000,80.70000,36.20000,31.800000,11.850000,7.650000,125.500000,26.000000,...,445.50000,47.150000,139.00000,324.00000,31.850000,129.00000,55.700000,153.000000,31.800000,177.000000
2025-05-07,30.850000,45.700000,62.90000,80.70000,36.70000,31.800000,11.950000,7.780000,124.000000,26.500000,...,440.00000,46.650000,132.50000,313.00000,32.500000,130.50000,55.600000,155.000000,31.150000,183.000000
2025-05-08,30.550000,45.050000,62.70000,80.70000,35.65000,30.950000,12.000000,7.700000,126.000000,25.350000,...,461.50000,48.200000,131.00000,311.00000,32.700000,132.00000,56.600000,156.500000,31.000000,181.000000

In [13]:
# The dtype of date, stock_id in event_df must match with close_df's idx (date), col (stock_id)
print(f'event_df info: \n')
event_df.info()
print(f'close_df idx (date) dtype: {close_df.index.dtype}')
print(f'close_df col (stock_id) dtype: {close_df.columns.dtype}')

event_df info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206452 entries, 0 to 206451
Data columns (total 9 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   date                       206452 non-null  datetime64[ns]
 1   stock_id                   206452 non-null  object
 2   contract_buy_top5_volume   206452 non-null  int64
 3   contract_sell_top5_volume  206452 non-null  int64
 4   contract_total_volume      206452 non-null  int64
 5   ii_fii_volume              206452 non-null  int64
 6   ii_trust_volume            206452 non-null  int64
 7   ii_dealer_volume           206452 non-null  int64
 8   revenue                    206452 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 14.2+ MB
close_df idx (date) dtype: datetime64[ns]
close_df col (stock_id) dtype: object